<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Businessname</th>
      <th>Projectname</th>
      <th>Buildingtype</th>
      <th>Quality</th>
      <th>Nbapartment</th>
      <th>Nbfloor</th>
      <th>Nbbasement</th>
      <th>Nbbusiness</th>
      <th>Nbparking</th>
      <th>Nbshaft</th>
      <th>Nboccupant</th>
      <th>Nbcompanies</th>
      <th>Activehours</th>
      <th>Nbelevator</th>
      <th>Elevatorprice</th>
      <th>Subtotal</th>
      <th>Installfee</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.fullName %></td>
        <td><%= quote.email %></td>
        <td><%= quote.phone %></td>
        <td><%= quote.businessname %></td>
        <td><%= quote.projectname %></td>
        <td><%= quote.buildingtype %></td>
        <td><%= quote.quality %></td>
        <td><%= quote.nbapartment %></td>
        <td><%= quote.nbfloor %></td>
        <td><%= quote.nbbasement %></td>
        <td><%= quote.nbbusiness %></td>
        <td><%= quote.nbparking %></td>
        <td><%= quote.nbshaft %></td>
        <td><%= quote.nboccupant %></td>
        <td><%= quote.nbcompanies %></td>
        <td><%= quote.activehours %></td>
        <td><%= quote.nbelevator %></td>
        <td><%= quote.elevatorprice %></td>
        <td><%= quote.subtotal %></td>
        <td><%= quote.installfee %></td>
        <td><%= quote.total %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
