<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @quote.fullName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @quote.phone %>
</p>

<p>
  <strong>Businessname:</strong>
  <%= @quote.businessname %>
</p>

<p>
  <strong>Projectname:</strong>
  <%= @quote.projectname %>
</p>

<p>
  <strong>Buildingtype:</strong>
  <%= @quote.buildingtype %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @quote.quality %>
</p>

<p>
  <strong>Nbapartment:</strong>
  <%= @quote.nbapartment %>
</p>

<p>
  <strong>Nbfloor:</strong>
  <%= @quote.nbfloor %>
</p>

<p>
  <strong>Nbbasement:</strong>
  <%= @quote.nbbasement %>
</p>

<p>
  <strong>Nbbusiness:</strong>
  <%= @quote.nbbusiness %>
</p>

<p>
  <strong>Nbparking:</strong>
  <%= @quote.nbparking %>
</p>

<p>
  <strong>Nbshaft:</strong>
  <%= @quote.nbshaft %>
</p>

<p>
  <strong>Nboccupant:</strong>
  <%= @quote.nboccupant %>
</p>

<p>
  <strong>Nbcompanies:</strong>
  <%= @quote.nbcompanies %>
</p>

<p>
  <strong>Activehours:</strong>
  <%= @quote.activehours %>
</p>

<p>
  <strong>Nbelevator:</strong>
  <%= @quote.nbelevator %>
</p>

<p>
  <strong>Elevatorprice:</strong>
  <%= @quote.elevatorprice %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @quote.subtotal %>
</p>

<p>
  <strong>Installfee:</strong>
  <%= @quote.installfee %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote.total %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
