<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @employee.users %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p>

<p>
  <strong>Title function:</strong>
  <%= @employee.title_function %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
