<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userId %>
    <%= form.number_field :userId %>
  </div>

  <div class="field">
    <%= form.label :customer_creation_date %>
    <%= form.text_field :customer_creation_date %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :headquaters_address %>
    <%= form.text_field :headquaters_address %>
  </div>

  <div class="field">
    <%= form.label :full_name_of_company_contact %>
    <%= form.text_field :full_name_of_company_contact %>
  </div>

  <div class="field">
    <%= form.label :company_contact_phone %>
    <%= form.number_field :company_contact_phone %>
  </div>

  <div class="field">
    <%= form.label :email_of_company_contact %>
    <%= form.text_field :email_of_company_contact %>
  </div>

  <div class="field">
    <%= form.label :company_description %>
    <%= form.text_area :company_description %>
  </div>

  <div class="field">
    <%= form.label :full_name_of_service_technical_authority %>
    <%= form.text_field :full_name_of_service_technical_authority %>
  </div>

  <div class="field">
    <%= form.label :technical_authority_phone %>
    <%= form.number_field :technical_authority_phone %>
  </div>

  <div class="field">
    <%= form.label :technichal_manager_email_for_service %>
    <%= form.text_field :technichal_manager_email_for_service %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
