<p id="notice"><%= notice %></p>

<h1>Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Address</th>
      <th>Buildingadmfullname</th>
      <th>Buildingadmemail</th>
      <th>Buildingadmphone</th>
      <th>Buildingtechfullname</th>
      <th>Buildingtechemail</th>
      <th>Buildingtechphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.customer %></td>
        <td><%= building.address %></td>
        <td><%= building.BuildingAdmFullName %></td>
        <td><%= building.BuildingAdmEmail %></td>
        <td><%= building.BuildingAdmPhone %></td>
        <td><%= building.BuildingTechFullName %></td>
        <td><%= building.BuildingTechEmail %></td>
        <td><%= building.BuildingTechPhone %></td>
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
