<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @building.customer %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Full name of building administrator:</strong>
  <%= @building.full_name_of_building_administrator %>
</p>

<p>
  <strong>Email of building administrator:</strong>
  <%= @building.email_of_building_administrator %>
</p>

<p>
  <strong>Phone of building administrator:</strong>
  <%= @building.phone_of_building_administrator %>
</p>

<p>
  <strong>Full name technical contact:</strong>
  <%= @building.full_name_technical_contact %>
</p>

<p>
  <strong>Technical contact email:</strong>
  <%= @building.technical_contact_email %>
</p>

<p>
  <strong>Technical contact phone:</strong>
  <%= @building.technical_contact_phone %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
