<!DOCTYPE html>
<html>

  <head>
    <title>Rocket Elevators</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left scrollTo" href="/index">
                
                <%= image_tag("r2.png", alt: "Logo Rocket Elevators", class: "img-fluid" ) %>
            </a>

            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <li class="active">
                            <!-- HOME -->
                            <a href="/index">
                                HOME
                            </a>
                        </li>
                        <li>
                            <!-- SERVICES -->
                            <a class="dropdown-toggle" href="#services">SERVICES</a>
                            <ul class="dropdown-menu white-space=nowrap">
                                <li><a href="/residancial">Residential</a></li>
                                <li><a href="/commercial">Corporate</a></li>
                                <li><a href="/quote">Get a Quote</a></li>
                            </ul>
                        </li>

                        <li>
                            <!-- WORK -->
                            <a href="index.html#work">
                                PORTFOLIO
                            </a>
                        </li>

                        <li>
                            <!-- NEWS -->
                            <a href="index.html#news">
                                NEWS
                            </a>
                        </li>

                        <li>
                            <!-- CLIENTS -->
                            <a href="index.html#clients">
                                CLIENTS
                            </a>
                        </li>

                        <li>
                            <!-- CONTACT -->
                            <a href="index.html#contact">
                                CONTACT
                             </a>
                        </li>

                        <li>
                            <!-- ACCOUNT -->
                            <a href="rocket_elevator/admin">
                                ACCOUNT
                            </a>
                        </li> 

                        <li>
                            <!-- ADMIN -->
                            <a class="dropdown-toggle" href="#services">ADMIN</a>
                            <ul class="dropdown-menu white-space=nowrap">
                                <li><a href="rocket_elevator/residancial">BACK OFFICE</a></li>
                                <li><a href="rocket_elevator/commercial">CHARTS</a></li>
                            </ul>
                        </li>

                        <li>
                            <!-- LOGIN -->
                            <a href="/login">
                                LOGIN
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- /Top Nav -->
</div>
    <%= yield %>

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">

                <!-- col #1 -->
                <div class="col-md-8">
                    <h2 class="letter-spacing-1">Looking for a rewarding career?</h2>

                    <!-- Small Description -->
                    <p>
                        If you are looking for a rewarding, meaningful career, send us your CV!!! 
                        <h3 class="letter-spacing-1">Follow us on social media!</h3> 
                    </p>
                </div>
                <!-- /col #1 -->

                <!-- col #2 -->
                <div class="col-md-4">
                    <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

                    <!-- Newsletter Form -->
                    <p>Subscribe to Our Newsletter to get Important News & Offers</p>

                    <form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                    <!-- /Newsletter Form -->

                </div>
                <!-- /col #2 -->
                <ul class="float-right m-0 list-inline mobile-block">	
                    <li><a href="https://www.facebook.com" title="Facebook" target="_new"><img src="assets/images/icons8-facebook-48.png" alt="Facebook" title="Facebook" height="24px" width="24px"></a></li>
                    <li><a href="https://twitter.com" title="Twitter" target="_new"><img src="assets/images/icons8-twitter-squared-120.png" alt="Twitter" title="Twitter" height="34px" width="34px"></a></li>
                    <li><a href="https://www.instagram.com" title="Instagram" target="_new"><img src="assets/images/icons8-instagram-24.png" alt="Instagram" height="34px" width="34px"></a></li>
                    <li><a href="https://www.linkedin.com" title="LinkedIn" target="_new"><img src="assets/images/icons8-linkedin-2-32.png" alt="LinkedIn" height="34px" width="34px"></a></li>
                    </ul>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                &copy; All Rights Reserved, Rocket Elevators inc.
            </div>
        </div>

    </footer>
    <!-- /FOOTER -->


  </body>
</html>



    <script>
		var plugin_path = 'assets/';
	</script>





